@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

$background-color: #cfe741;
$button-color: #fda50f;
$hover-font-color: #aee8bb;
$text-color: #f81894;

body {
  background: no-repeat center center;
  background-color: #cfe741;
  background-position:top;
//   background-size: cover;
  font-family: 'Sriracha', cursive;
  background-image: url('/smoothie_stand.png');
  background-size: cover;
  width: 100%;
}

navbar {
  background-color: #cfe741;
  text-align: center;
}

a:link {
  color: red;
}

h1 {
  text-align: justify;
  font-size: 90px;
}

//not sure if this works
ml-auto {
  text-align: center;
}

.auth-btns {
  margin: .5%;
  position: absolute;
  right: 0;
  top: 0;
}

button {
  background-color: $button-color;
  border: 0;
  border-radius: 8px;
  border-width: thin;
  font-size: 16px;
  text-align: center;
  // width: 50%;

  &:hover {
    background-color: $button-color;
    color: $hover-font-color;
  }
}

.change-password,
.sign-out {
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
  outline: none;
  padding: 16px;
  transition: .5s ease;
  // width: 100%;

  & .input-change-password {
    font-size: 14px;
  }
}
